/* ----------- Colors ---------------------------------- */
// Font Colors
$reach-blue: #0088c7;
$menu-active: #0088c7;
$menu-font: #232323;
$reach-orange: #ffa73d;
// Background colors:
$tarvp-tan:  #ffdcb0; // #c7a06f;
$bottom-cta-bkgd: #ffdcb0;
$tarvp-green: #006838; // dark green
$content-bkgd: white;
// special colors
/* ----------- end Colors ----------- */
