
/* **** media **** */

@media only screen and (min-width: 768px) {
// desktop

    #content {
         // larger margins & padding at desktop
        margin: 5%;
        #content-wrap {
            padding: 40px 40px;
        }
    }
}

@media only screen and (max-width: 960px) { // table - mobile menu shows
    .left-header #header-top-bar {
        display: block;
    }
}
@media only screen and (max-width: 767px) {
// tablet & smaller
  h1 {
    font: 700 38px "Roboto Condensed","Open Sans","Arial",sans-serif !important;
    line-height: 42px !important;
  }

  h2 {
    font: 700 32px "Roboto Condensed","Open Sans","Arial",sans-serif !important;
    line-height: 36px !important;
  }

  h3 {
    font: 700 26px "Roboto Condensed","Open Sans","Arial",sans-serif !important;
    line-height: 32px !important;
  }

  h4 {
    font: 700 18px "Roboto Condensed","Open Sans","Arial",sans-serif !important;
    line-height: 23px !important;
  }
  .left-header .left-strip-wrapper, .left-header #left-header-mobile {
    background-color: rgba(216,230,175,1) !important;
  }
  .ta-how-to-get-here-columns {
    display: flex;
  }
  .tatsu-column.tatsu-column-no-bg.tatsu-one-half.tatsu-clearfix {
    order: 2;
  }
}
@media only screen and (max-width: 479px) {
    // phones

}
@media only screen and (max-width: 425px) {
    // small phones
    #content {
        margin-left: 0px;
        margin-right: 0px;
        #content-wrap {
            padding-left: 0px;
            padding-right: 0px;
            .tatsu-row  {
                margin-left: 0px;
                margin-right: 0px;
            }
        }
    }
}
